@layer layouts {
  .wrapper {
    background: var(--brand-blue-dark-1);
    color: var(--grayscale-white);
    padding: var(--spacing-5) 0;
  }

  .wrapper a {
    color: inherit;
    text-decoration: none;
  }

  .wrapper a:hover {
    text-decoration: underline;
  }

  .inner {
    text-align: center;
  }
}
